Options -Indexes -MultiViews +FollowSymLinks +ExecCGI
<IfModule mod_perl.c>
    <FilesMatch "\.cgi$">
        SetHandler perl-script
        PerlResponseHandler ModPerl::PerlRunPrefork
        PerlOptions +ParseHeaders
        Options +ExecCGI
    </FilesMatch>
</IfModule>

<IfModule !mod_perl.c>
    AddHandler cgi-script .cgi .pl
</IfModule>

Require all granted

